.list {
  padding: 0;
  text-align: center;
}
.list li {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  border-radius: 15px;
  border: lightgray 1px solid;
}

.list li:hover {
  border-color: lightsteelblue;
}

.list div {
  padding: 5px 10px;
  align-self: center;
}

.list a {
  text-decoration: none;
  color: black;
}

.list .list-header {
  font-weight: bold;
  background: white;
  border: none;
}